@model List<Contact>
@{
    ViewData["Title"] = "Home page";
}

<div class="wrapper">
    <div class="search">
        <input class="find" type="search" placeholder="Введите имя">
    </div>
    <div class="list_contact">
        <select size="5" class="contactList">
            @for (int i = 0; i < Model.Count; i++)
            {
                <option onclick="ShowInfo()">@Model[i].Name</option>
            }
        </select>
    </div>
    <div class="buttons_contact">
        <input type="image" src="~/images/Add_User_512x512.png"
               width="30px" height="30px" class="add" id="add"
               onclick="location.href='@Url.Action("Create", "Home")'">
        <input type="image" src="~/images/Edit_User_512x512.png"
               width="30px" height="30px" class="edit">
        <input type="image" src="~/images/Remove_User_512x512.png"
               width="30px" height="30px" class="remove" onclick="RemoveContact()">
    </div>
    <div class="contact_info">
        <div class="user_photo">
            <img src="~/images/User_Avatar_512x512.png" width="150px" height="150px">
        </div>
        <div class="form_info">
            <label>Имя:</label>
            <input class="name" type="search" value="@ViewData["name"]" readonly>
            <label>Номер:</label>
            <input class="phone" type="search" value="@ViewData["phone"]" readonly>
            <label>Email:</label>
            <input class="email" type="search" value="@ViewData["email"]" readonly>
        </div>
    </div>
</div>

<script>
    function ShowInfo() {
        var select = document.querySelector('select');
        var index = select.selectedIndex;
        if (index >= 0) {
            $.ajax({
                method: "GET",
                url: "Home/ShowContact?index=" + index,
                success: function (data) {
                    $(".container").html(data);
                    select = document.querySelector('select');
                    select.selectedIndex = index;
                },
                error: function (err) {
                    console.log(err);
                }
                })
            }
        else {
            alert('Выберите пользователя');
        }
    }
    function RemoveContact() {
        var select = document.querySelector('select');
        var index = select.selectedIndex;
        if (index >= 0) {
            $.ajax({
                method: "GET",
                url: "Home/RemoveContact?index=" + index,
                success: function (data) {
                    $(".container").html(data);
                },
                error: function (err) {
                    console.log(err);
                }
            })
        }
        else {
            alert('Выберите пользователя');
        }
    }
</script>