@model List<Contact>
@{
    ViewData["Title"] = "Home page";
}

<div class="wrapper">
    <div class="search">
        <input class="find" type="search" placeholder="Введите имя">
    </div>
    <div class="list_contact">
        <select 
            size="5" 
            class="contactList" 
            asp-items="@(new SelectList(ViewBag.Contacts,"Name","Name"))"
            onclick="ShowInfo()">
        </select>
    </div>
    <div class="buttons_contact">
        <input 
            type="image" 
            src="~/images/Add_User_512x512.png"   
            width="30px"  
            height="30px" 
            class="add" 
            onclick="location.href='@Url.Action("AddContact", "Home")'">
        <input 
            type="image" 
            src="~/images/Edit_User_512x512.png"
            width="30px" 
            height="30px" 
            class="edit" 
            onclick="EditContact()">
        <input 
            type="image" 
            src="~/images/Remove_User_512x512.png"
            width="30px" 
            height="30px" 
            class="remove" 
            onclick="RemoveContact()">
    </div>
    <div class="contact_info">
        <div class="user_photo">
            <img src="~/images/User_Avatar_512x512.png" width="150px" height="150px">
        </div>
        <div class="form_info">
            <label>Имя:</label>
            <input class="name" type="search" value="@ViewData["name"]" readonly>
            <label>Номер:</label>
            <input class="phone" type="search" value="@ViewData["phone"]" readonly>
            <label>Email:</label>
            <input class="email" type="search" value="@ViewData["email"]" readonly>
        </div>
    </div>
</div>
