@model IEnumerable<ContactEntity>
@{
    ViewData["Title"] = "Home page";
}

<div class="wrapper">
    <div class="search">
        <input 
            class="find" 
            type="search" 
            placeholder="Введите имя"
            id="find"
            oninput="location.href='@Url.Action("FindContacts", "Contact")'">
    </div>
    <div class="list_contact">
        <select 
            size="5" 
            class="contactList" 
            onclick="showInfo()">
            @foreach(var contact in Model)
            {
                <option 
                    id="@contact.Id"
                    onclick="showInfo()">
                    @contact.Name
                </option>
            }
        </select>
    </div>
    <div class="buttons_contact">
        <input 
            type="image" 
            src="~/images/Add_User_512x512.png"   
            width="30px"  
            height="30px" 
            class="add" 
            onclick="location.href='@Url.Action("AddContact", "Contact")'">
        <input 
            type="image" 
            src="~/images/Edit_User_512x512.png"
            width="30px" 
            height="30px" 
            class="edit" 
            onclick="location.href='@Url.Action("EditContact", "Contact")'">
        <input 
            type="image" 
            src="~/images/Remove_User_512x512.png"
            width="30px" 
            height="30px" 
            class="remove" 
            onclick="removeContact()">
    </div>
    <div class="contact_info">
        <div class="user_photo">
            <img src="@ViewData["photo"]" width="300px" height="200px">
        </div>
        <div class="form_info">
            <label>Имя:</label>
            <input class="name" type="search" value="@ViewData["name"]" readonly>
            <label>Номер:</label>
            <input class="phone" id="phone" type="search" value="@ViewData["phone"]" readonly>
            <label>Email:</label>
            <input class="email" type="search" value="@ViewData["email"]" readonly>
        </div>
    </div>
</div>